:root {
    /* 200 */
    --light: #E7E5E4;
    /* 400 */
    --lightText: #A8A29E;
    /* 500 */
    --lightPiece: #78716C;
    /* 700 */
    --darkPiece: #44403C;
    /* 800 */
    --dark: #292524;
    --validMove: #65A30D;
    --cardCenter: #0284C7;
    --cardValid: #65A30D;
    --cardCenterHighlight: #38BDF8;
    --cardValidHighlight: #A3E635;
}

.cardDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

